<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/public/zy.js"></script>
    <link rel="stylesheet" href="element-plus.css" />
    <script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.7/dayjs.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--    <script>-->
<!--        window.onload=function () {-->
<!--            document.addEventListener('touchstart',function (event) {-->
<!--                if(event.touches.length>1){-->
<!--                    event.preventDefault();-->
<!--                }-->
<!--            });-->
<!--            var lastTouchEnd=0;-->
<!--            document.addEventListener('touchend',function (event) {-->
<!--                var now=(new Date()).getTime();-->
<!--                if(now-lastTouchEnd<=300){-->
<!--                    event.preventDefault();-->
<!--                }-->
<!--                lastTouchEnd=now;-->
<!--            },false);-->
<!--            document.addEventListener('gesturestart', function (event) {-->
<!--                event.preventDefault();-->
<!--            });-->
<!--        }-->
<!--    </script>-->

    <style>
        .con {
            margin-top: 30px;
        }
        .tool {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
        }
        .row {
            display: flex;
            gap: 10px;
            align-items: center;
        }
        @media screen and (max-width: 720px) {
            .tool { 
                grid-template-columns: 1fr ;
            }
            .mobile-hide {
                display: none;
            }
        }
    </style>
</head>
<body>
    <!-- {{> popover }} -->


    <!-- {{> webgl }}  -->
   <div id="tpl" style="display: none"></div>
    <div id="app">
        <router-view></router-view>
    </div>
    <template id="home-tpl">
      <div class="home-con" :class="bigCls">
          <div class="tool">
              <!-- <el-button size="small" @click="utils_screenShot">视频封面</el-button> -->
              <div class="row">
                <el-button size="small" @click="utils_appendNum(-1)">-1</el-button>
                <el-input-number  size="small" v-model="num" :min="0" :step="20"></el-input-number>
                <el-button size="small" @click="utils_appendNum(1)">1</el-button>
                <div size="small"  @click="utils_jumpTo">跳转</div>
              </div>
                <div class="row"> 
                    <div><span>倒序</span> <el-switch v-model="searchContion.reverse" /></div>
                    <div @click="goBackHistry()">返回</div> 
                    <div >{{ arrLen }}</div>
                    <div>{{obj.curIndex}}</div>
                </div>
               <div class="row mobile-hide">
                    <el-input size="small" v-model="searchContion.site" placeholder=""></el-input>
                    <el-button size="small" @click="newSite(searchContion.site)">抖音</el-button>
               </div> 
          </div>
          
          <div>
            <el-link class="back-link" type="primary" @click="backLink({href: '.../'})"><span>../</span></el-link>
        </div>
          <div id="con" class="con" style="height: 80vh; overflow-y: auto;"
                @scroll="onListScroll"
          >


              <div v-for="(img, index) in sortArr" :key="img.id" 
                class="list-item"
              :data-index="index" :col-id="img.id">
                  <template v-if="img.fileExt">
                      <template v-if="checkMimeType(img.fileExt, 'image')">
                          <!--                       <div><span v-html="img.hrefDispay"></span></div>-->
                          <div style="margin-left: 10px;">{{img.date}}</div>
                          <el-image 
                          :class="{'loaded': img.loaded}"
                                    style="max-width: 100%; display: block; min-height: 200px;"
                                    :alt="img.hrefDispay"
                                    :src="getImg(img.href)"
                                    @load="onImageLoad(img, $event)"
                                    @close="onImageOpen"
                                    @switch="onImageSwitch"
                                    :preview-src-list="bigImgList"  
                                    :initial-index="obj.curIndex"
                                    >
                              <template #error="scope">
                                  {{ img.href }}
                              </template>
                          </el-image>
                      </template>
                      <template v-else-if="img.fileExt === 'mp4'">
                          <div>{{img.href}} <span style="margin-left: 10px;">{{img.date}}</span></div>
                          <z-video style="max-width: 100%;"
                                   :src="getImg(img.href)"
                          >
                          </z-video>
                      </template>
                      <template v-else>
                          <el-link target="_blank"
                                   :href="getImg(img.href)"><span v-html="img.hrefDispay"></span></el-link>
                      </template>
                  </template>
                  <template v-else>
                      <div :class="{'back-link': img.hrefDispay === '..'}">
                          <el-link type="primary" @click="goToLink(img)"><span v-html="img.hrefDispay"></span> 
                            </el-link>
                      </div>
                  </template>
              </div>
          </div>
      </div>
    </template>
    <script src="/jquery.js"></script>
<!--    <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>-->
    <!-- Import Vue 3 -->
    <script src="/Vue.js"></script>
    <script src="/vue-router.js"></script>
    <!-- Import component library -->
    <script src="/element-plus.js"></script>

    <script type="module" src="/src/main.js"></script>
</body>
</html>
