<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script> -->
    <script>
      // VConsole will be exported to `window.VConsole` by default.
      //var vConsole = new window.VConsole();
    </script>

    <script src="/zy.js"></script>
    <link rel="stylesheet" href="element-plus.css" />
    <script src="/echarts.js"></script>
    <script src="/dayjs.min.js"></script>
    <script src="/xregexp-all.js"></script>
    <!-- <script src="https://unpkg.com/scheduler-polyfill@next"></script> -->
    <script type="module" src="/demos/shadow/index.js"></script>
    <script src="/assets/ffmpeg/package/dist/umd/ffmpeg.js"></script>
    <script src="/assets/util/package/dist/umd/index.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.13/plugin/quarterOfYear.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.13/plugin/weekOfYear.js"></script>
    <script>
        window.dayjs.extend(window.dayjs_plugin_quarterOfYear);
        window.dayjs.extend(window.dayjs_plugin_weekOfYear);
    </script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="./index.css">
</head>
<body class="doc-darktheme">


    <textarea id="out" style="display: none;"></textarea>

    <template id="z-list_tpl">
        <div bind:click="onclick">
            <slot name="content"></slot>
        </div>
    </template>

    <template id="z-list-item_tpl">
        <div>
            <slot></slot>
        </div>
    </template>

    <div id="webapp">
        <z-list  size ="1">
            <template shadowrootmode="open">
                <slot name="content"></slot>
            </template>
            <div slot="content">hello</div>
        </z-list>
    </div>

    <div id="tpl" style="display: none"></div>
    <div id="app">
        <router-view></router-view>
    </div>

    <template id="folder-tpl">
        <div style="overflow: hidden;">
            <div class="tool">
                <div class="row">
                    <el-link class="back-link" type="primary" @click="backLink()"><span>../</span></el-link>
               {{obj.curIndex}} / <span v-if="obj.arr"> {{obj.arr.length}}</span>
                </div>
            </div>
            <div id="con" class="con" style="height: 80vh; overflow-y: auto;"
            @scroll="onListScroll"
      >
            <f-list v-if="obj" v-bind="obj" @event="onEvent"></f-list>
            </div>
        </div>
    </template>

    <template id="home-tpl">
      <div class="home-con" >
        <div id="htmlapp"></div>
        <home-form v-if="obj"></home-form>
      </div>
    </template>
    
    <template id="str3">
        struct HashSet {
            var prop1 = 1;
            var prop8 = 8;
            fun init() {
               console.log('init');
            }
            var mid1 = 1;
            var mid8 = 8;
            fun some(p1) {
               this.prop1 = 1;
               this.prop8 = 8;
            }
         }
         
         object config {
             var prop1 = 1;
             var prop8 = 8;
             fun some(p1) {
                 this[prop1] = 1;
                 this[prop8] = 8;
             }
         }
        
         fun fun1(name = '') {
         }
        
         async fun main() {
    
            var num = 1;
            var arr = [1,2,3];
            var callfun = fun1();
    
            fun inner() {
                var num = 1;
            }
    
            var aft = num + 1;  
            sum = num + 1;  
            obj[p1.p2.p3] = num + 1;
            console[log]("sssss" # 18);
            hashset = HashSet();
    
            if (sum > 1) {
                sum = 3;
            }
            else if(lt(sum, 8)) {
                sum = 6;
            }
            else {
                sum = 18;
            }
        
            each ([key,item] in arr) {
                var localval = 1;
            }
            
            inner(p1 = 1 # p8 = 8);
    
            fun done1() {
            }
    
            req() {(res # iserr) ->
                var some = 1;
            }
    
            req(err = done1) {(res # iserr) ->
                var some = 1;
            }
    
        }
        
        </template>

    <script src="https://cdn.bootcdn.net/ajax/libs/js-beautify/1.15.1/beautifier.js"></script>
    <!-- Import Vue 3 -->
    <script src="/Vue.js"></script>
    <script src="/vue-router.js"></script>
    <!-- <script src="/vue-demi.js"></script> -->
    <!-- <script src="/pinia.js"></script> -->
    <!-- <script src="/element-plus.js"></script> -->

    <script type="module" src="/src/main.js"></script>
    <script src="/jquery.js"></script>
</body>
</html>
