html {
    overflow-x: hidden;
}

.con {
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
}
.tool {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.row {
    display: flex;
    gap: 10px;
    align-items: center;
}
@media screen and (max-width: 720px) {
    .tool { 
        grid-template-columns: 1fr ;
    }
    .mobile-hide {
        display: none;
    }
}
.vis-viewer .el-slider__input {
    width: 160px;
}
.vis-loading .img1 img {
    opacity: 1 !important;

    transition: none !important;
}

.vis-loading .img2 img {
    opacity: 0 !important;
    transition: none !important;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}


.grid-sm {
    display: grid;
    grid-template-columns: max-content  1fr;
    align-items: start;
    gap: 10px;
}

@media screen and (max-width: 720px) {
    .grid-sm {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media screen and (min-width: 1220px) {
    .tab-sidebar {
        position: sticky;
        top: 0;
    }
}

textarea {
    width: 600px;
    display: block;
    height: 300px;
}

image-slideshow {
    --slide-min-height: 360px;
    --transition-duration: 0.5s;
}

z-list-item {
    display: block;
    border-bottom: 1px solid var(--el-color-primary);
}
z-list .sub {
    margin-bottom: 10px;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    position: absolute;
}
.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}