html {
    height: 100%;
}

body {
    background-color: #fefffe;
    padding: 20px;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 767px) {
    .el-image__inner {
        object-fit: contain;
    }
}
.el-image {
    /*max-width: none !important;*/
    /*width: max-content;*/
    min-height: 100px !important;
    /*height: max-content;*/
}
.el-image.loaded {
    width: max-content;
}
.back-link a {
    width: 150px;
    justify-content: flex-start;
    margin-bottom: 10px;
}
