body {
    background-color: #fefffe;
    margin: 20px;
}

.el-image__inner {
    object-fit: none;
}
.el-image {
    /*max-width: none !important;*/
    /*width: max-content;*/
    min-height: 1px !important;
    /*height: max-content;*/
}
.el-image.loaded {
    width: max-content;
}
